<%= simple_form_for(@tema) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome_tema %>
    <%= f.input :assunto_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
