 <script type="text/javascript">
        function habilitaDica () {
              document.getElementById("inputSuccess2").type="text";     

            }
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome tema:</strong>
  <%= @tema.nome_tema %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @tema.assunto.nome_assunto %>

</p>
<%= link_to 'Cadastrar Questoes', new_questao_path%>
<h1 align="center">Respondendo Questao</h1>
<%= paginate @questaos %>
 <% @questaos.each do |questao| %> 
 <button type="button" class="btn btn-primary" onclick="habilitaDica()" >Mostrar Dica</button>
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Pergunta</label>
  <input type="text" class="form-control" id="inputSuccess1"  value="<%= questao.pergunta %>" disabled>
</div>
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Dica</label> 
  <input type="hidden" class="form-control" id="inputSuccess2"  value="<%= questao.dica %>" disabled>
</div>
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Resposta</label>
  <input type="text" class="form-control" id="inputSuccess3"  value="<%= questao.resposta %>" disabled>
</div>
<% end %>

<button type="button" class="btn btn-default" style="padding:40px;padding-left:90px;padding-right:90px;"> 1 </button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary" style="padding:40px;padding-left:90px;padding-right:90px;">2</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success" style="padding:40px;padding-left:90px;padding-right:90px;">3</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning" style="padding:40px;padding-left:90px;padding-right:90px;">4</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger" style="padding:40px;padding-left:90px;padding-right:90px;">5</button>


 <%= simple_form_for @tema, :url => autoavaliacao_path, :method => :post do |f| %>


     <%= f.button :submit %>

 <% end %>

