<p id="notice"><%= notice %></p>

<p>
  <strong>Nome tema:</strong>
  <%= @tema.nome_tema %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @tema.assunto_id %>
</p>
<h2>Questões</h2>
<% @tema.questaos.each do |questao| %>
  <p>
    
    <li><%= link_to questao.id, questao %></li>
  </p>
<% end %>

<%= link_to 'Edit', edit_tema_path(@tema) %> |
<%= link_to 'Back', temas_path %>
