<h3>Seja Bem vindo Ao OpenQuiz - O seu guia de Estudos Online!</h3>
<p><%= link_to 'Usuarios:', users_path %> <%= User.count %> cadastrados</p>
<p><%= link_to 'Assuntos:', assuntos_path %> <%= Assunto.count %> cadastrados</p>
<p><%= link_to 'Temas:', temas_path %> <%= Tema.count %> cadastrados</p>
<p><%= link_to 'Perguntas:', questaos_path %> <%= Tema.count %> cadastradas</p>
