<%= simple_form_for(@questao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :assunto_id %>
    <%= f.collection_select(:assunto_id, Assunto.all, :id, :nome_assunto, prompt: true) %>
    <%= link_to '+', new_assunto_path,:class =>"btn btn-success" %>
     </br>
    <%= f.label :tema_id %>
    <%= f.collection_select(:tema_id, Tema.all, :id, :nome_tema, prompt: true) %>

    <%= link_to '+', new_tema_path,:class =>"btn btn-success" %>
    <%= f.input :pergunta %>
    <%= f.input :resposta %>
    <%= f.input :dica %>
  
        
   </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
