<%= simple_form_for(@questao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pergunta %>
    <%= f.input :resposta %>
    <%= f.input :dica %>


   <%= f.label :tema_id %>
    <%= f.collection_select(:tema_id, Tema.all, :id, :nome_tema, prompt: true) %>


    <%= link_to 'Cadastrar novo tema', new_tema_path %>
        
   
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
