<p id="notice"><%= notice %></p>

<h1>Assuntos Cadastrados</h1>

<h5>Escolha algum assunto especifico que deseja estudar!</h5>

<table>
 <% @assuntos.each do |assunto| %>    
<tr>
<th><br><%= assunto.nome_assunto %></th>
</tr>
<tr>
<td><%=link_to image_tag(assunto.link_image_url(:thumb)), assunto_path(assunto) %></td>
</tr>
<tr>
<td><%= assunto.descricao %></td>
</tr>
<% end %>
</table>
<br>

<%= link_to 'Cadastrar Novo Assunto', new_assunto_path %>
