<p id="notice"><%= notice %></p>

<p>
  <strong>Nome assunto:</strong>
  <%= @assunto.nome_assunto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @assunto.descricao %>
</p>

<p>
  <strong>Link image:</strong>
  <%= @assunto.link_image %>
</p>
<h2>Temas</h2>
<% @assunto.temas.each do |tema| %>
  <p>
    
    <li><%= link_to tema.nome_tema, tema %></li>
  </p>
 

<% end %>

<%= link_to 'Edit', edit_assunto_path(@assunto) %> |
<%= link_to 'Back', assuntos_path %>



