<p id="notice"><%= notice %></p>

<p>
  <h2><%= @assunto.nome_assunto %></h2>
  <strong>Questoes Estudadas:</strong>
</p>

<p>
  <%=image_tag(@assunto.link_image_url(:thumb)) %>
</p>
<h2>Temas</h2>
<% @assunto.temas.where(:disponivel => '1').each do |tema| %>
  <p>
    <li><%= link_to tema.nome_tema, tema %></li>
  </p>
 
<% end %>
<%= link_to 'Cadastrar Nova Questao', new_questao_path%>
<%= link_to 'Voltar', assuntos_path %>



